.quiz-topics__symbol {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #ffffff;
  line-height: 0px;
  _border-color: #000000 #000000 #000000 #ffffff;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}