.quiz-topics__button {
  width: 200px;
  height: 67px;
  border-radius: 5px;
  background-color: #6d839a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  opacity: 1;
  transition: all .3s ease-in-out;
  text-transform: uppercase;
  border: none;
}

.quiz-topics__button:hover {
  cursor: pointer;
  opacity: .65;
} 