.header__container {
  width: 1200px;
  margin: 0 auto;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 960px) {
  .header__container {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 768px) {
  .header__container {
    width: 100%;
  }
}