.add-form__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  gap: 10px;
  width: 100%;
  margin: 0 auto 40px auto;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .add-form__form {
    grid-template-columns: 1fr;
  }
}