.content__container {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 60px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 960px) {
  .content__container {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 768px) {
  .content__container {
    width: calc(100% - 40px);
  }
}