.add-form {
  text-align: center;
  width: 720px;
  margin: 0 auto;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .3s ease-in-out;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .add-form {
    width: 100%;
  }
}